h2,
h3 {
  margin: 0;
  padding-right: 10px;
}

button {
  font-size: 20px;
  font-weight: 400;
  background-color: rgba(231, 230, 230, 0.445);
  border: 1px solid rgba(153, 153, 153, 0.185);
  width: 95px;
  height: calc((0.6 * 600px) / 5.5);
}

button:hover {
  background-color: rgba(231, 230, 230, 0.781);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.77);
  transition: 0.3s;
}
button:focus {
  outline: none;
}
button:active {
  background-color: rgba(201, 198, 198, 0.781);
  transition: 0.1s;
  box-shadow: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-image: linear-gradient(
    to right,
    (rgb(175, 177, 240), rgba(125, 223, 236, 0.836))
  );
  border: 2px solid rgb(114, 114, 114);
}

.display {
  background-color: rgba(255, 255, 255, 0.788);
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.previous-display {
  height: 47px;
  font-size: 30px;
  font-weight: 300;
  color: #999;
}

.current-display {
  height: 47px;
  font-size: 40px;
  font-weight: 500;
}

.buttons-container {
  display: flex;
  width: 100%;
  height: 75%;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.double-width {
  width: 190px;
}
