.package-content-container {
  position: relative;
  display: flex;
  flex: 1;
}

.btn-class-name {
  padding: 10px;
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
